body {
  background-color:black;
}

.pr{
  margin-left: 2075px;
}

.hard{
  margin-right:2075px;
}
h1{
  font-size: 100px;
   color: pink;
   margin-left: 1000px;
   margin-right: 200px;
}
.money{
  margin-bottom: 300px;
}
h2{
  font-size: 35;
  margin-right: 150px;
  color:pink;
}
.drake{
  margin-left:2075px;
}
h3{
  font-size: 35px;
  text-align: right;
  margin-right: 60px;
  color: #5CC8DB;
}
h4{
  font-size: 30px;
  color: #5CC8DB;
}
ol{
  font-size: 30px;
  font-style: italic;
color: #5CC8DB;
margin-left: 1150px;
margin-top: 200px;
line-height: 2em;
}
.lion{
margin-left: 1100px;
}
P{
  color: pink;
  font-size: 40px;
  font-style: italic;
  margin-left: 1000px;
  margin-top: 300px;
}
