body {
  background-color:black;
}

.pr{
  margin-left: 2075px;
}

.hard{
  margin-right:2075px;
}
h1{
  font-size: 100px;
  font-style: oblique;
   color: #5CC8DB;
}
.money{
  margin-bottom: 300px;
}
h2{
  text-align: right;
  font-size: 35;
  margin-right: 150px;
  color: #5CC8DB;
}
.drake{
  margin-left:2075px;
}
h3{
  font-size: 35px;
  text-align: right;
  margin-right: 60px;
  color: #5CC8DB;
}
h4{
  font-size: 30px;
  color: #5CC8DB;
}
ol{
  font-size: 25px;
  font-style: italic;
color: #5CC8DB;
}
